<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ecommerce Shop API</title>
</head>
<body>
  <main>
    <h1>Ecommerce Shop API documentation</h1>
    <!-- <p>Get all data. Entry point at <a href="https://ichiklaus-ecommerce-shop-api.herokuapp.com/api/ecommerce-products" target="_blank" rel="noopener noreferrer">Products</a> </p> -->
    <p>Get all data. Entry point at <a href="http://127.0.0.1/api/ecommerce-products" target="_blank" rel="noopener noreferrer">Products</a> </p>
  </main>
</body>
</html>